  <nav>
    <div class='nav-bar'>
      <div>
        <a href="/"><img src="../images/Logos/Logo-krak-Miam.png" alt="Logo de la Empresa"></a>
      </div>
      <ul class="nav-seccion">
        <li><a href="#krak">Sección 1</a></li>
        <li><a href="#preconst">Sección 2</a></li>
        <li><a href="#tarjetas">Sección 3</a></li>
      </ul>
    </div>
  </nav>
  <!-- Script Loader -->
  <h2 class='loader' style='margin-top:400px'>Wait a moment please...</h2>
  <div class="loader"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/javascripts/index.js"></script>