<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar") %>

  <!-- Bienvenidos -->
  <main class="principal">
    <h1>Bienvenidos a Krak Miami</h1>
  </main>

  <!-- Que es Krak Miami -->
  <div class="contenedor-blanco" id="krak">
    <div>
      <div class="borde-img seccion-izquierda">
      </div>
      <img class="seccion-izquierda" src="../images/Fotos/pexels-arnie-watkins-3773651.jpg" alt="Miami Beach">
    </div>
    <div class="seccion-derecha">
      <h2>¿Qué es Krak Miami?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam animi ex quae sed hic, fugit atque ipsam? Expedita ullam quaerat nesciunt dignissimos illum ratione unde exercitationem sapiente tenetur laborum deleniti voluptatum velit iusto enim et, cum incidunt consequatur iste vitae nihil quidem quia ipsum totam eveniet. Iusto maxime nulla deleniti.</p>
    </div>
  </div>

  <!-- Carousel -->
  <div>
    <div>
      <img class="contenedor-carousel" src="../images/Fotos/krakMIAMI-1.jpg" alt="Departamento Playa">
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner bg-primario">
        <div class="carousel-item active text-center">
          <div class="d-flex box-item">
            <div class="number">1.</div>
            <div>
              <h2>¿Como podemos ayudarte?</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam sunt quas alias quasi distinctio molestiae reiciendis labore, totam maiores eius quis tempore autem, voluptates temporibus et animi quia eligendi! Perspiciatis accusamus inventore aliquid, doloremque veritatis, numquam ullam ut tempora obcaecati harum ad magnam quisquam quo et debitis possimus!</p>
            </div>
          </div>
        </div>

        <div class="carousel-item text-center">
          <div class="d-flex box-item">
            <div class="number">2.</div>
            <div>
              <h2>El futuro en tus manos</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam sunt quas alias quasi distinctio molestiae reiciendis labore, totam maiores eius quis tempore autem, voluptates temporibus et animi quia eligendi! Perspiciatis accusamus inventore aliquid, doloremque veritatis, numquam ullam ut tempora obcaecati harum ad magnam quisquam quo et debitis possimus!</p>
            </div>
          </div>
        </div>

        <div class="carousel-item text-center">
          <div class="d-flex box-item">
            <div class="number">3.</div>
            <div>
              <h2>Sobre nosotros</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam sunt quas alias quasi distinctio molestiae reiciendis labore, totam maiores eius quis tempore autem, voluptates temporibus et animi quia eligendi! Perspiciatis accusamus inventore aliquid, doloremque veritatis, numquam ullam ut tempora obcaecati harum ad magnam quisquam quo et debitis possimus!</p>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <!-- Pool -->
  <div class="pool">
    <img src="../images/Fotos/pexels-jacoby-clarke-1294149.jpg" alt="Miami Beach">
    <div class="pool-contenido">
      <h2>Pool de Inversión</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam animi ex quae sed hic, fugit atque ipsam? Expedita ullam quaerat nesciunt dignissimos illum ratione unde exercitationem sapiente tenetur laborum deleniti voluptatum velit iusto enim et, cum incidunt consequatur iste vitae nihil quidem quia ipsum totam eveniet. Iusto maxime nulla deleniti.</p>
      <a class="button" href="http://facebook.com">Quiero mi renta</a>
    </div>
  </div>

  <!-- Pre-Construcción -->

  <div class="preconst1" id="preconst">
    <div class="img-box img-preconst1"></div>
    <div class="preconst-contenido">
      <h2>Pre-Construccion</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam animi ex quae sed hic, fugit atque ipsam? Expedita ullam quaerat nesciunt dignissimos illum ratione unde exercitationem sapiente tenetur laborum deleniti voluptatum velit iusto enim et, cum incidunt consequatur iste vitae nihil quidem quia ipsum totam eveniet. Iusto maxime nulla deleniti.</p>
      <a class="button" href="http://facebook.com">Quiero invertir</a>
    </div>
  </div>

  <div class="img-box img-preconst3"></div>

  <div class="preconst2 space-bottom">
    <div class="img-box img-preconst2"></div>

    <div class="preconst-contenido">
      <h2>Pre-Construccion</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam animi ex quae sed hic, fugit atque ipsam? Expedita ullam quaerat nesciunt dignissimos illum ratione unde exercitationem sapiente tenetur laborum deleniti voluptatum velit iusto enim et, cum incidunt consequatur iste vitae nihil quidem quia ipsum totam eveniet. Iusto maxime nulla deleniti.</p>
      <a class="button" href="http://facebook.com">Quiero invertir</a>
    </div>
  </div>

  <div class="box-border position-border1"></div>
  <div class="box-border position-border2"></div>

  <!-- Banner Guía -->
  <div class="banner space-bottom">
    <img class="imagen-banner" src="../images/Fotos/pexels-antonio-cuellar-4366058.jpg" alt="">
    <img class="fondo-banner" src="../images/Fotos/fondo.png" alt="">
    <div class="contenido-banner">
      <h2>Descargate nuestra guía para invertir en Miami</h2>
      <a class="button" href="http://facebook.com">Quiero mi renta</a>
    </div>
  </div>


  <!-- Video -->
  <iframe class="space-bottom" width="100%" height="600" src="https://www.youtube.com/embed/0498TGPFYLs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <!-- Tarjetas -->

  <section id="tarjetas">
    <div class="portfolio">

      <div class="portfolio_item">
        <a href="#">
          <img src="../images/Fotos/pexels-antonio-cuellar-4366060.jpg" alt="Playa">
          <div class="portfolio_itemOverlay">
            <h5>Inversiones</h5>
          </div>
        </a>
      </div>

      <div class="portfolio_item">
        <a href="#">
          <img src="../images/Fotos/pexels-live-on-shot-3665354.jpg" alt="Departamento">
          <div class="portfolio_itemOverlay">
            <h5>Multi-family</h5>
          </div>
        </a>
      </div>

    </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include("./partials/footer") %>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="../javascripts/index.js"></script>
</body>

</html>